<head>
  <link rel="stylesheet" href="/assets/footer.sass.erb">
</head>
<div class="footer">
  <div class="footer-content">
    <div class="footer-content__section-1">
      <div class="footer-content__section-1_flex-1">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-content__section-1_flex-2">
        <a href="#"><i class="fab fa-codepen"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="mailto: deadonbullseye@gmail.com" class="mail"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
    <div class="footer-content__section-2">
      <%= link_to "Home", home_path, :class => current_class?(home_path) %>
      <%= link_to "Projects", projects_index_path, :class => current_class?(projects_index_path) %>
      <%= link_to "About", about_path, :class => current_class?(about_path) %>
      <%= link_to "Contact", contact_path, :class => current_class?(contact_path) %>
    </div>
    <hr class="footer-hr">
    <div class="footer-content__section-3">
      Copyright &copy; 2019 Griffin Bunnell Design | All Rights Reserved
    </div>
  </div>
</div>
