<div class="footer">
  <div class="footer-content" style="padding: 20px 20px;">
    <div class="footer-content__section-1">
      Copyright &copy; 2018
    </div>
    <div class="footer-content__section-2">
      <a>Twitter</a>
      <a>Instagram</a>
      <a>Codepen</a>
      <a>Github</a>
    </div>
  </div>
</div>
