<head>
  <title>Contact | Griffin Bunnell</title>
</head>
<body>

  <%= render 'partials/header' %>

  <div class="hero-container">
    <div class="hero-container_content" id="contact-page">
      <span class="hero-container_strip">
        <h1 class="hero-container_content__heading">Contact</h1>
        <hr>
        <div class="btn" id="contact-page__btn">
          <span></span>
          <span></span>
        </div>
      </span>
      <div class="track">
        <span class="line scrollDown"></span>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="row">
      <div class="content" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <form id="gform" method="POST" data-email="deadonbullseye@gmail.com"
        action="">

          <div class="form__heading" style="align-self: center;">Contact Me</div>
          <input id="name" type="text" name="name" required placeholder="Name" />
          <input id="email" name="email" type="email" required placeholder="Email"/>
          <input id="phone" name="phone" type="text"required placeholder="Phone Number"/>
          <textarea id="message" name="message" required placeholder="Message"></textarea>
          <div class="btn" onclick="this.parentNode.submit();" style="margin-top: 10px">Send</div>

        </form>
      </div>
    </div>
  </div>

  <%= render 'partials/footer' %>

</body>
