<head>
  <title>Griffin Bunnell | Web Designer</title>
</head>
<body>

  <%= render 'partials/header' %>

  <div class="hero-container">
    <div class="hero-container_content" id="home-page">
      <span class="hero-container_strip">
        <h1 class="hero-container_content__heading">Griffin Bunnell</h1>
        <hr>
        <div class="btn" onclick="window.location = '/contact';">Contact Me</div>
      </span>
      <div class="track">
        <span class="line scrollDown"></span>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="row">
      <div class="content flex">
        <div class="image-slider">

          <div class="slide fade" data-slide="url(assets/background.jpg)" onclick="window.location = '/projects';">
            <div class="image"></div>
            <div class="image-content">
              <div class="content__heading">News Article 1</div>
              <div class="content__text italic">
                News from news article 1 right here.
              </div>
            </div>
          </div>

          <div class="slide fade" data-slide="url(assets/background2.jpg)" onclick="window.location = '/projects';">
            <div class="image"></div>
            <div class="image-content">
              <div class="content__heading">News Article 2</div>
              <div class="content__text italic">
                News from news article 2 right here.
              </div>
            </div>
          </div>

          <div class="slide fade" data-slide="url(assets/background4.jpg)" onclick="window.location = '/projects';">
            <div class="image"></div>
            <div class="image-content">
              <div class="content__heading">News Article 3</div>
              <div class="content__text italic">
                News from news article 3 right here.
              </div>
            </div>
          </div>

          <div class="slide fade" data-slide="url(assets/background5.jpg)" onclick="window.location = '/projects';">
            <div class="image"></div>
            <div class="image-content">
              <div class="content__heading">News Article 4</div>
              <div class="content__text italic">
                News from news article 4 right here.
              </div>
            </div>
          </div>

          <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
          </div>

        </div>

        <div class="featured" data-img="url(assets/background.jpg)" onclick="window.location = '/projects';">
          <div class="image"></div>
          <div class="image-content">
            <div class="content__heading">Featured</div>
            <div class="content__text italic">
              The latest featured post.
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="content">
        <div class="content__heading">Want to see more</div>
        <div class="content__text">
          Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.
        </div>
        <div class="btn" onclick="window.location = '/projects';" style="margin-top: 30px;">More</div>
      </div>
    </div>
  </div>

  <%= render 'partials/footer' %>

</body>
