<head>
  <title>Projects | Griffin Bunnell</title>
</head>
<body>

  <%= render 'partials/header' %>

  <div class="hero-container">
    <div class="hero-container_content" id="projects-page">
      <span class="hero-container_strip">
        <h1 class="hero-container_content__heading">Projects</h1>
        <hr>
        <div class="btn" onclick="window.location = '/contact';">Contact Me</div>
      </span>
      <div class="track">
        <span class="line scrollDown"></span>
      </div>
    </div>
  </div>

  <%= render 'partials/footer' %>

</body>
