<head>
  <title>Projects | Griffin Bunnell</title>
</head>
<body>

  <%= render 'partials/header' %>

  <div class="hero-container">
    <div class="hero-container_content" id="projects-page">
      <span class="hero-container_strip">
        <h1 class="hero-container_content__heading">Projects</h1>
        <hr>
        <div class="btn" onclick="window.location = '../contact';">Contact Me</div>
      </span>
      <div class="track">
        <span class="line scrollDown"></span>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="grid-buttons">
      <div class="filler"></div>
      <div class="grid-btn_1 grid-btn_active"><i class="grid-icon fas fa-th-list"></i></div>
      <div class="grid-btn_2"><i class="grid-icon fas fa-th-large"></i></div>
      <div class="filler"></div>
    </div>
    <div class="row">
      <div class="content grid-list">
        <div class="project">
          <div class="project-image"><img style="background-image: url(/assets/background2.jpg);"></div>
          <div class="project-content">
            <div class="content__heading">Project One</div>
            <div class="content__text italic ellipsis">Lorem Ipsum Lorem Ipsum Lorem Ipsum</div>
          </div>
        </div>
        <div class="project">
          <div class="project-image"><img style="background-image: url(/assets/background.jpg);"></div>
          <div class="project-content">
            <div class="content__heading">Project Two</div>
            <div class="content__text italic ellipsis">Lorem Ipsum Lorem Ipsum Lorem Ipsum</div>
          </div>
        </div>
        <div class="project">
          <div class="project-image"><img style="background-image: url(/assets/background4.jpg);"></div>
          <div class="project-content">
            <div class="content__heading">Project Three</div>
            <div class="content__text italic ellipsis">Lorem Ipsum Lorem Ipsum Lorem Ipsum</div>
          </div>
        </div>
        <div class="project">
          <div class="project-image"><img style="background-image: url(/assets/background3.jpg);"></div>
          <div class="project-content">
            <div class="content__heading">Project Four</div>
            <div class="content__text italic ellipsis">Lorem Ipsum Lorem Ipsum Lorem Ipsum</div>
          </div>
        </div>
        <div class="project">
          <div class="project-image"><img style="background-image: url(/assets/background2.jpg);"></div>
          <div class="project-content">
            <div class="content__heading">Project Five</div>
            <div class="content__text italic ellipsis">Lorem Ipsum Lorem Ipsum Lorem Ipsum</div>
          </div>
        </div>
        <div class="project">
          <div class="project-image"><img style="background-image: url(/assets/background.jpg);"></div>
          <div class="project-content">
            <div class="content__heading">Project Six</div>
            <div class="content__text italic ellipsis">Lorem Ipsum Lorem Ipsum Lorem Ipsum</div>
          </div>
        </div>
        <div class="project">
          <div class="project-image"><img style="background-image: url(/assets/background4.jpg);"></div>
          <div class="project-content">
            <div class="content__heading">Project Seven</div>
            <div class="content__text italic ellipsis">Lorem Ipsum Lorem Ipsum Lorem Ipsum</div>
          </div>
        </div>
        <div class="project">
          <div class="project-image"><img style="background-image: url(/assets/background3.jpg);"></div>
          <div class="project-content">
            <div class="content__heading">Project Eight</div>
            <div class="content__text italic ellipsis">Lorem Ipsum Lorem Ipsum Lorem Ipsum</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'partials/footer' %>

</body>
